<!-- RARITY PAGE -->

<section class="text-gray-600 body-font bg-gray-200">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        <div class="h-1 bg-white rounded overflow-hidden">
          <div class="lalasline w-24 h-full"></div>
        </div>
        <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-5xl mb-2 sm:mb-0">PET RARITY</h1>
          <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">There are 5 main pet rarities which are classified as: <b>Common</b>, <b>Uncommon</b>, <b>Rare</b>, <b>Ultra-Rare</b>, and <b>Legendary</b>.
            <br>Each rarity offers a unique selection of pets, from the easy-to-find and adorable Common pets to the incredibly rare and coveted Legendary pets. Click below to discover the full list of pets under each rarity and see what makes each one special in the Adopt Me! universe.
        </p>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/assets/dogcommon.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">COMMON</h2>
          <p class="text-base leading-relaxed mt-2">From cute puppies to curious cats, explore all the common pets you can collect. Perfect for new players or anyone filling out their collection! Click below to discover every <b>Common</b> pet in Adopt Me!</p>
          <a class="discoverlink text-pink-500 inline-flex items-center mt-3">
            <a routerLink="/commonpage" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            ariaCurrentWhenActive="page"
            >Discover Now</a>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/assets/labuncommon.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">UNCOMMON</h2>
          <p class="text-base leading-relaxed mt-2">A step above the basics, uncommon pets offer a fun mix of charm and personality. They’re the perfect way to add a little extra flair to your growing collection! Click below to discover every <b>Uncommon</b> pet in Adopt Me!</p>
          <a class="discoverlink text-pink-500 inline-flex items-center mt-3">
            <a routerLink="/uncommonpage" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            ariaCurrentWhenActive="page"
            >Discover Now</a>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/assets/cowrare.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">RARE</h2>
          <p class="text-base leading-relaxed mt-2">Rare pets bring charm and excitement to your lineup. See which rare companions you already own—and which ones you still need to track down! Click below to discover every <b>Rare</b> pet in Adopt Me!</p>
          <a class="discoverlink text-pink-500 inline-flex items-center mt-3">
            <a routerLink="/rarepage" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            ariaCurrentWhenActive="page"
            >Discover Now</a>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <br>
      <br>
    <div class="flex flex-wrap justify-center sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="/assets/pufferultrarare.jpg">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">ULTRA-RARE</h2>
        <p class="text-base leading-relaxed mt-2">Harder to find and full of personality, ultra-rare pets are a fan favorite. Explore these prized additions and see how many you’ve collected! Click below to discover every <b>Ultra-rare</b> pet in Adopt Me!</p>
        <a class="discoverlink text-pink-500 inline-flex items-center mt-3">
          <a routerLink="/ultrararepage" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            ariaCurrentWhenActive="page"
            >Discover Now</a>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="/assets/unicornlegendary.jpg">
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">LEGENDARY</h2>
        <p class="text-base leading-relaxed mt-2">Legendary pets are the most desired in the game—superior, majestic, and unforgettable. Dive into the ultimate list and see which ones belong in your dream collection! Click below to discover every <b>Legendary</b> pet in Adopt Me!</p>
        <a class="discoverlink text-pink-500 inline-flex items-center mt-3">
          <a routerLink="/legendarypage" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            ariaCurrentWhenActive="page"
            >Discover Now</a>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
        </a>
      </div>
    </div>
    </div>
  </section>


<!-- FOOTER -->

<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <span class="lalastitle text-xl">
          <a routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            ariaCurrentWhenActive="page"
        >AM! TRACKER</a>
        </span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4" style="font-size:12px">© 2025 AM! Tracker —
        The information presented on this website about Adopt Me! pets, including images and text, is intellectual property of Uplift Games LLC, DreamCraft, and/or Roblox. 
        <br>
        AM! Tracker is not produced by, endorsed by, supported by, or affiliated with any of these companies.
      </p>
      
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a href="https://www.linkedin.com/in/dalilasolis/" class="fa fa-linkedin ml-3 text-gray-400" style="font-size:22px"></a>
          <a href="https://github.com/d1solis" class="fa fa-github ml-3 text-gray-400" style="font-size:22px"></a>
        </span>
      </span>
    </div>
  </footer>