h1 {
    font-family: "Luckiest Guy", sans-serif
}

p {
    font-family: "Rambla", sans-serif;
}

form {
    font-family: "Rambla", sans-serif;
}

.minititle {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 1.5em;
}

.lalastitle {
    font-family: "Luckiest Guy", sans-serif;
}

a:hover {
    text-shadow: 3px 3px 3px #f872a7;
    font-size: 18px;
  }