h1 {
    font-family: "Luckiest Guy", sans-serif
}

p {
    font-family: "Rambla", sans-serif;
}

form {
    font-family: "Rambla", sans-serif;
}

.minititle {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 1.5em;
}

.lalastitle {
    font-family: "Luckiest Guy", sans-serif;
}