form {
    font-family: "Rambla", sans-serif;
}

h1 {
    font-family: "Luckiest Guy", sans-serif;
}

p {
    font-family: "Rambla", sans-serif;
}

.lalastitle {
    font-family: "Luckiest Guy", sans-serif;
}