h1 {
    font-family: "Luckiest Guy", sans-serif;
}

p, button{
    font-family: "Rambla", sans-serif;
}

.best{
    color:#51a2fe;
}

.lalasintro {
    color: white;
}

.lalastitle {
    font-family: "Luckiest Guy", sans-serif;
}